@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: center;
    width: 70%;
    margin: ;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}
.quiensoy{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.quiensoy .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.quiensoy h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.quiensoy .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.quiensoy .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.quiensoy .fila{
    display: flex;
}
.quiensoy .fila .col
{
    width: 50%;
}
.quiensoy .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.quiensoy .fila .col ul{
    list-style: none;
}
.quiensoy .fila .col ul li{
    margin: 12px 0;
}
.quiensoy .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.quiensoy .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.quiensoy .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.quiensoy .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.quiensoy .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.quiensoy .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.quiensoy button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.quiensoy button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.quiensoy button:hover .overlay{
    width: 100%;
}

/* SECCION EDUCACION */
.educacion {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    color: #fff;
    padding: 50px 20px;
}
.educacion .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}
.educacion h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.educacion .fila {
    display: flex;
    justify-content: space-between;
}
.educacion .fila .col {
    width: 49%;
    padding: 0 20px;
}
.educacion .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.educacion .fila .izquierda {
    border-right: 2px solid #252A2E;
}
.educacion .fila .derecha {
    border-left: 2px solid #252A2E;
}
.educacion .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.educacion .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.educacion .fila .item .casa {
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.educacion .fila .item .fecha {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.educacion .fila .item p {
    line-height: 24px;
}
.educacion .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.educacion .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.educacion .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.educacion .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.educacion .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.educacion .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

/* SECCION VOLUNTARIADOS */
.voluntariados {
    background: linear-gradient(to top,  rgba(30,35,38,1), rgba(30,35,38,.8)),
    url(img/fondo.jpg);
    color: #fff;
    padding: 50px 20px;
}
.voluntariados .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}
.voluntariados h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.voluntariados .fila {
    display: flex;
    justify-content: space-between;
}
.voluntariados .fila .col {
    width: 49%;
    padding: 0 20px;
}
.voluntariados .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.voluntariados .fila .izquierda {
    border-right: 2px solid #252A2E;
}
.voluntariados .fila .derecha {
    border-left: 2px solid #252A2E;
}
.voluntariados .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.voluntariados .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.voluntariados .fila .item .casa {
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.voluntariados .fila .item .fecha {
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.voluntariados .fila .item p {
    line-height: 24px;
}
.voluntariados .fila .izq {
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.voluntariados .fila .der {
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.voluntariados .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.voluntariados .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.voluntariados .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.voluntariados .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.voluntariados .item img {
    width: 100%;           /* Hace que la imagen se adapte al ancho del contenedor */
    max-height: 300px;     /* Altura máxima para evitar que sea muy grande */
    object-fit: cover;     /* Corta o ajusta la imagen sin distorsionarla */
    border-radius: 10px;   /* Bordes redondeados */
    margin-top: 15px;      /* Espacio entre el párrafo y la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional para dar profundidad */
}
/* SECCIÓN HABILIDADES */
.habilidades {
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    color: #fff;
    padding: 50px 20px;
}
.habilidades .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}
.habilidades h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.habilidades .fila {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.habilidades .fila .col {
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
}
.habilidades .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.habilidades .habilidad > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.habilidades .barra-habilidad {
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
    border-radius: 5px;
}
.habilidades .progreso {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}
.habilidades .barra-habilidad span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}


/* SECCION EXPERIENCIA */
.experiencia{
    background: linear-gradient(to top,  rgba(30,35,38,1), rgba(30,35,38,.8)),
    url(img/fondo.jpg);
    color: #fff;
    padding: 50px 20px;
}
.experiencia .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.experiencia h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.experiencia .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.experiencia .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.experiencia .galeria .proyecto img{
    width: 100%;
    display: block;
}
.experiencia .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.experiencia .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.experiencia .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.experiencia .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .quiensoy .fila{
        display: block;
    }
    .quiensoy .fila .col{
        width: fit-content;
    }

    .habilidades .fila{
        display: block;
    }
    .habilidades .fila .col{
        width: 100%;
    }
    .habilidades .fila .col .barra-skill{
        width: 100%;
    }

    .educacion .fila{
        display: block;
    }
    .educacion .fila .col{
        width: 90%;
    }
    .educacion .fila .derecha{
        margin-left: 20px;
    }

    .voluntariados .fila{
        display: block;
    }
    .voluntariados .fila .col{
        width: 90%;
    }
    .voluntariados .fila .derecha{
        margin-left: 20px;
    }

    .experiencia .galeria{
        display: block;
        width: 100%;
    }
    .experiencia .galeria .proyecto{
        max-width: 100%;
    }
    .experiencia .galeria .proyecto img{
        width: 100%;
    }

}